/****************
*               *
*   Variables   *
*               *
****************/

:root
{
	--primary: #78C2AD;
	--secondary: #F3969A;
}




/****************
*               *
*    Layout     *
*               *
****************/

.center
{
    text-align: center;
}

nav#general
{
    position: fixed;
    bottom:0;
    left: 0;
    border-radius: 5px;
    border: 1px solid var(--primary);
    padding: 20px
}

#general li
{
    list-style: none;
    margin-left: -40px;
}

a, a:hover, a:focus, a:visited, a:active
{
	color: var(--secondary);
}


