/****************
*               *
*   Variables   *
*               *
****************/

:root
{
	--primary: #78C2AD;
    --secondary: #F3969A;
    --info: #6CC3D5;
    --dark: #343a40;
}


/****************
*               *
*    Layout     *
*               *
****************/

h1 {text-align: center;}

.center
{
    text-align: center;
}

nav#general
{
    position: fixed;
    bottom:0;
    left: 0;
    border-radius: 5px;
    border: 1px solid var(--primary);
    padding: 20px
}

#general li
{
    list-style: none;
    margin-left: -40px;
}

/****************
*               *
*    Footer     *
*               *
****************/

footer a, footer a:hover, footer a:focus, footer a:visited, footer a:active
{
    color: var(--dark);
    font-weight: bold;
}

/****************
*               *
*      Form     *
*               *
****************/